// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;

// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: white;
  font-family: Poppins, sans-serif;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

/* .body {
  
  position: absolute;
  left: 3216px;
  top: 1380px;
  width: 1200px;
  height: 2393px;
  
} */
// main wrapper
#container {
  background: #efefef;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 24px; */
  /* padding: 2rem 3rem 2.5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: white;
  width: 100%;
}

header > h1 {
  text-align: left;
  font-weight: 800;
  color: #615d8f;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
}

// password result
#password-output {
  background-color: white;
  color: #2f2f2f;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  padding: 1.25em;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  max-width: 350px;
}

#password-output:hover {
  background-color: #2f2f2f;
  color: white;
}

// generate password button
.btn {
  color: white;
  background-color: #615d8f;
  align-items: left;
  border: none;
  font-size: 1em;
  font-weight: 700;
  border-radius: 8px;
  padding: 1em 1.5em;
  margin-block: 10%;
}
.btn:hover {
  background: #8763f3;
}

.btn:disabled {
  background: #dddddd;
}

// horizontal line
hr {
  border: 1px solid #615d8f;
  width: 350px;
}

.custom-text {
  font-weight: 700;
}

// password length slider
#input-range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.range {
  // margin: 0 0 0 30px;
  background: #615d8f;
  height: 30px;
  width: 120px;
  background: white;
  border-radius: 8px;
  padding: 0 45px 0 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;
}

.range input {
  -webkit-appearance: none;
  // height: 3px;
  background: #615d8f;
  border-radius: 24px;
  outline: none;
  border: none;
  // z-index: 2222;
  // margin: 14px 0;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background: white;
  border: 2px solid #615d8f;
  cursor: pointer;
}

.range input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4adf86;
  border: 1px solid #4adf86;
  cursor: pointer;
}

.range input::-moz-range-progress {
  background: #4adf86;
  /* this progress background is only shown on Firefox */
}

#bubble {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: "";
  }
}

#checkbox-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #2f3e53;
  justify-content: space-between;
  margin-top: 20px;
}

#checkbox-wrapper > label {
  margin: 8px 0;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-input {
  display: none;
}

.checkbox__box {
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.checkbox__box::after {
  content: "\2714";
  color: white;
}

.checkbox-input:checked + .checkbox__box {
  background: #615d8f;
  border-color: #615d8f;
}

//footer
.footer {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer i {
  color: #615d8f;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 2; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 2; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@keyframes check {
  100% {
    stroke-dashoffset: 4.5px;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
