$background: #141414;
$primary: white;
$secondary: #5a5a5a;
$tertiary: #908cf2;
$button: #3dd8b1;
$button-secondary: #111110;
$cards: #1d1d1d;

@mixin gradient {
  background: -moz-linear-gradient(top, #252525 0%, #1d1d1d 100%);
  background: -webkit-linear-gradient(top, #252525 0%, #1d1d1d 100%);
  background: linear-gradient(to bottom, #252525 0%, #1d1d1d 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  font-family: "Noto Sans", sans-serif;
  // height: 100vh;
  // width: 100%;
  // display: flex;
  // justify-content: center;
  padding: 1rem;

  max-width: 100%;
}

// main wrapper
// .container {
//   background: $button-secondary;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   border-radius: 24px;
//   padding: 1.5rem;
//   max-width: 36rem;
//   margin: 0;
// }

header {
  @media (min-width: 513px) {
    width: 481px;
  }
  border-radius: 0.5rem;
  @include gradient;
  padding: 12px;

  // width: 500px;
  // max-width: 36rem;
  // max-width: 576px;
  // min-width: 141px;
}

h1 {
  font-weight: 700;
  color: $primary;
  font-size: 1rem;
  // text-align: left;
}

h1 > i {
  color: $tertiary;
  font-size: 1rem;
}

.description {
  // text-align: left;
  font-size: 12px;
  color: $secondary;
  line-height: 14px;
}

.password-wrapper {
  @media (min-width: 513px) {
    width: 481px;
  }
  max-width: 36rem;
  min-width: 141px;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

// password result
#password-output {
  display: inline-block;

  background: transparent;
  color: $secondary;
  // border: 1px solid $secondary;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  height: 100px;
  padding: 0;
  text-align: center;

  // max-width: 350px;
  // -webkit-box-shadow: 5px 5px 15px -4px #d2c9c9;
  // box-shadow: 5px 5px 15px -4px #d2c9c9;
  // text-align: center;
}

#password-output:hover {
  color: $button;
}

#password-output:active {
  color: $secondary;
  // background-color: #252623;
  // border: 1px solid #252623;
  // -webkit-box-shadow: 5px 4px 5px -4px #252623;
  // box-shadow: 5px 4px 5px -4px #252623;
}

// password length slider
#input-range-wrapper {
  @media (min-width: 513px) {
    width: 481px;
  }
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5rem;
  @include gradient;
  // padding: 12px;
  // width: 500px;
  max-width: 36rem;
  min-width: 141px;
  padding: 12px;
}

.input-range-wrapper__title {
  display: flex;
  width: 30%;
}

.custom-text {
  // margin-bottom: 240px;
  color: $tertiary;
  font-size: 12px;
  line-height: 0.5px;
}

.range {
  // margin: 0 0 0 30px;
  // height: 30px;
  // width: 120px;
  // padding: 0 45px 0 45px;
  // padding-left: 28px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  // position: relative;
}

.range__slider {
  width: 60%;
  display: flex;
}

.range input {
  -webkit-appearance: none;
  background: $button-secondary;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  width: 100%;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background: white;
  // border: 2px solid #252623;
}

.range input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  // background: #4adf86;
  // border: 1px solid #4adf86;
}

.range input::-moz-range-progress {
  background: #4adf86;
  /* this progress background is only shown on Firefox */
}

#bubble {
  display: inline-block;
  position: relative;
  color: $primary;
  // line-height: 20px;
  // border-radius: 48px;
  // background: white;
  // padding: 5px 10px;
  width: 12px;
  height: 15px;
  margin-left: 20px;

  // &:after {
  //   position: absolute;
  //   top: 8px;
  //   left: -7px;
  //   width: 0;
  //   height: 0;
  //   border-top: 7px solid transparent;
  //   border-right: 7px solid $range-label-color;
  //   border-bottom: 7px solid transparent;
  //   content: "";
  // }
}

#checkbox-wrapper {
  @media (min-width: 513px) {
    width: 481px;
  }
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  // width: 524px;
  max-width: 36rem;
  // margin: 12px 0;
  padding: 6px;
  margin-block: 1rem;
}

#checkbox-wrapper > label {
  font-size: 12px;
  // margin: 8px 0;
  color: $primary;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  background-color: black;
  border-radius: 0.5rem;
  padding: 12px;
  margin-block: 6px;
  width: 100%;
}

.checkbox-input {
  display: none;
}

.checkbox__box1 {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #d2c9c9;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  background: $button-secondary;
  // -webkit-box-shadow: 5px 4px 5px -4px #d2c9c9;
  // box-shadow: 5px 4px 5px -4px #d2c9c9;
}

.checkbox__box1::after {
  content: "\2714";
  color: $button-secondary;
}

.checkbox-input:checked + .checkbox__box1 {
  background: $tertiary;
  border-color: $tertiary;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.checkbox__box2 {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #d2c9c9;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  background: $button-secondary;
  // -webkit-box-shadow: 5px 4px 5px -4px #d2c9c9;
  // box-shadow: 5px 4px 5px -4px #d2c9c9;
}

.checkbox__box2::after {
  content: "\2714";
  color: $button-secondary;
}

.checkbox-input:checked + .checkbox__box2 {
  background: #eb666a;
  border-color: #eb666a;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.checkbox__box3 {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #d2c9c9;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  background: $button-secondary;
  // -webkit-box-shadow: 5px 4px 5px -4px #d2c9c9;
  // box-shadow: 5px 4px 5px -4px #d2c9c9;
}

.checkbox__box3::after {
  content: "\2714";
  color: $button-secondary;
}

.checkbox-input:checked + .checkbox__box3 {
  background: $button;
  border-color: $button;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.checkbox__box4 {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #d2c9c9;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  background: $button-secondary;
  // -webkit-box-shadow: 5px 4px 5px -4px #d2c9c9;
  // box-shadow: 5px 4px 5px -4px #d2c9c9;
}

.checkbox__box4::after {
  content: "\2714";
  color: $button-secondary;
}

.checkbox-input:checked + .checkbox__box4 {
  background: #f8af4c;
  border-color: #f8af4c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// //footer
// .footer {
//   background-color: white;
//   text-align: center;
//   padding: 10px 0;
//   position: absolute;
//   bottom: 0;
//   width: 100%;
// }

// .footer i {
//   color: #615d8f;
// }

// generate password button
.btn {
  @media (min-width: 513px) {
    width: 481px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 50px;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  color: white;
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  border: none;
  font-size: 12px;
  border-radius: 1rem;
  padding: 1rem;
  background-size: 200% auto;

  animation: fadefromleft 700ms;
}

.btn:hover::after {
  /* Changing blur effect */
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);

  /* And change the style properties */
  width: 100%;
  bottom: -5px;
  left: 0;
}

.btn:hover {
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0),
    0px 4px 10px 0px rgba(0, 0, 0, 0.1), 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn > i {
  margin-left: 36px;
  text-align: right;
  font-size: 1rem;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

// .btn:hover {
//   background: #252623;
//   font-weight: 700;
//   -webkit-box-shadow: 5px 4px 5px -4px #252623;
//   box-shadow: 5px 4px 5px -4px #252623;
//   border: 1px solid #252623;
// }

.btn:active {
  background-color: #252623;
  -webkit-box-shadow: 5px 4px 5px -4px #252623;
  box-shadow: 5px 4px 5px -4px #252623;
  border: 1px solid #252623;
}

.btn:disabled {
  background: $secondary;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 2; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 1 seconds */
  animation: fadein 0.5s;
}

@keyframes check {
  100% {
    stroke-dashoffset: 4.5px;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadefromleft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@media (min-width: 525px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
