body {
  background-color: white;
  font-family: Poppins, sans-serif;
  height: 560px;
}

/* .body {

  position: absolute;
  left: 3216px;
  top: 1380px;
  width: 1200px;
  height: 2393px;

} */
#container {
  background: #efefef;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 24px; */
  /* padding: 2rem 3rem 2.5rem; */
  min-width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

header {
  background-color: white;
  width: 100%;
}

header > h1 {
  text-align: left;
  font-weight: 800;
  color: #615d8f;
  text-align: center;
  margin: 0;
}

#password-output {
  background-color: white;
  color: #2f2f2f;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  padding: 1.25em;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  max-width: 350px;
}

#password-output:hover {
  background-color: #2f2f2f;
  color: white;
}

.btn {
  color: white;
  background-color: #615d8f;
  align-items: left;
  border: none;
  font-size: 1em;
  font-weight: 700;
  border-radius: 8px;
  padding: 1em 1.5em;
  margin-block: 10%;
}

.btn:hover {
  background: #8763f3;
}

hr {
  border: 1px solid #615d8f;
  width: 350px;
}

/* h2 {
  text-align: left;
  font-weight: 400;
  color: #94a1b2;
  font-size: 80%;
} */
/* button {
  width: 300px;
  height: 60px;
  background-color: #7f5af0;
  padding: 12px;
  color: #fffffe;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  border-width: 3px;
  cursor: pointer;
} */
.custom-text {
  font-weight: 700;
}

#input-range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container .checkmark:after {
  left: 3px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #2f3e53;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.range {
  margin: 0 0 0 30px;
  background: #615d8f;
  height: 30px;
  width: 80px;
  background: white;
  border-radius: 15px;
  padding: 0 65px 0 45px;
  text-align: center;
}

.sliderValue {
  position: relative;
  width: 100%;
  font-size: 15px;
  /* position of pop-up number case in relation to the ball */
}

.sliderValue span {
  position: absolute;
  height: 35px;
  width: 35px;
  transform: translateX(-150%) scale(0);
  top: -50px;
  line-height: 40px;
  z-index: 2;
  color: #615d8f;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.sliderValue span.show {
  transform: translateX(-90%) scale(1);
}

.sliderValue span:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: white;
  border: 3px solid #615d8f;
  z-index: -1;
  left: 50%;
  /* position of pop-up number case in relation to the ball */
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.field .value {
  position: absolute;
  font-size: 15px;
  color: #615d8f;
  font-weight: 700;
}

.field .value.left {
  left: -22px;
}

.field .value.right {
  right: -30px;
}

.range input {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #615d8f;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background: white;
  border: 2px solid #615d8f;
  cursor: pointer;
}

.range input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4adf86;
  border: 1px solid #4adf86;
  cursor: pointer;
}

.range input::-moz-range-progress {
  background: #4adf86;
  /* this progress background is only shown on Firefox */
}

#checkbox-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #2f3e53;
  justify-content: space-between;
  margin-top: 20px;
}

#checkbox-wrapper > label {
  margin: 8px 0;
}

footer {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  background-color: #161619;
}

footer > h1 {
  color: #918e9b;
  width: 100px;
  height: 100px;
  z-index: 100;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes check {
  100% {
    stroke-dashoffset: 4.5px;
  }
}
@keyframes check {
  100% {
    stroke-dashoffset: 4.5px;
  }
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}/*# sourceMappingURL=index.css.map */